<h1>Google Maps</h1>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8AUBjZnPw4AHCAo0_QDGz_bdLapP7Gbg&libraries=places"></script>


<body>
  <div id="map" style="height: 400px; width: 100%;"></div>

  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
  </script>

  <script>
    window.onload = function() {
      initMap();
    };
  </script>
</body>

