

//for top bar
.example-spacer {
    flex: 1 1 auto;
  }
  
  //for toggle button side nav
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  
  //for search card
  .search-card {
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
  
  
  }
  

  
  .search-button {
    align-self:center;
  }
  
  
  //for cards
  
  
  .park-image {
    width:100%;
    height: 200px;
    object-fit: cover;
  }
  
  .park-card-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 24px;
  }

  .park-badges {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 24px;
  }

  .park-badge-image {
    width:100%;
    height: 200px;
    object-fit: cover;
  }

  //for divider
  .app-divider {
    margin-top: 10px;
    margin-bottom: 10px;
}