<!-- Top bar logo and navigation, thinking of placing this in the app.component instead as this will be needed always for nav-->
<div>
<mat-toolbar>
    <!--start of side nav  currently not fully working-->
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          @if (showFiller) {
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
          }
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      
      </mat-drawer-container>
      


    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
       
    </button>


    <span>Build Your National Park Passport</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>



<!-- new search form -->
<mat-card class="search-card">
    <mat-card-header>
        <h2>Start Exploring Today</h2>
    </mat-card-header>
        <mat-form-field appearance="outline" cla>
            <mat-label>Search for a park</mat-label>
            <input type="text" [(ngModel)]="query" matInput placeholder="State or Name">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    

    <!-- new search button -->
    <div class="search-button">
        <button mat-raised-button color="accent" (click)="searchParks()">Search</button>
    </div>
</mat-card>

<!-- old search input--
<input type="text" [(ngModel)]="query" placeholder="Search for parks">
<button (click)="searchParks()">Search</button>
-->

<!-- -->
<div *ngIf="filteredParks.length > 0">
    <mat-grid-list cols="2" rowHeight="">
        <div *ngFor="let park of filteredParks">
            <mat-grid-tile>
                <div class="main-div">
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <mat-card-title>{{park.name}}</mat-card-title>
                            <mat-card-subtitle>{{park.addresses[0].city}},
                                {{park.addresses[0].stateCode}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="park.images[0].url" [alt]="park.images[0].altText">
                        <mat-card-actions>
                            <button mat-button>DETAILS</button>
                            <button mat-button>WISHLIST</button>
                        </mat-card-actions>
                        <mat-card-footer></mat-card-footer>
                    </mat-card>
                </div>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>

<!-- -->
<div *ngIf="error">
    <p>{{error}}</p>
</div>


<!--<div *ngIf="parkResponse">
    <div *ngFor="let park of parkResponse.data">
        <p>{{park.name}}</p>
        <p>{{park.description}}</p>
    </div>
    <div *ngIf="error == ''">
        <p>{{error}}</p>
    </div>
</div>-->

<!--<div *ngIf="filteredParks.length > 0">
    <div *ngFor="let park of filteredParks">
        <a [routerLink]="['/park-details', park.id]">
            <p>{{park.name}}</p>
        </a>
        <p>{{park.addresses[0].city}}, {{park.addresses[0].stateCode}}</p>
        <img class="park-image" [src]="park.images[0].url" [alt]="park.images[0].altText">
    </div>
</div>-->