<!-- Top bar logo and navigation, thinking of placing this in the app.component instead as this will be needed always for nav-->
<div>
    <mat-toolbar>
        <!--start of side nav  currently not fully working-->
        <mat-drawer-container class="example-container" autosize>
            <mat-drawer #drawer class="example-sidenav" mode="side">

            </mat-drawer>

            <div class="example-sidenav-content">
                <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
                    aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

        </mat-drawer-container>



        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">

        </button>


        <span>Build Your National Park Passport</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
