<mat-sidenav-container class="example-container">
    <!-- What shows inside side nav-->
    <mat-sidenav class="side-menu-items" #sidenav mode="side">
        <mat-list role="list">
            <mat-list-item role="listitem"><button mat-button [routerLink]="['dashboard']"><mat-icon aria-hidden="false"
                        aria-label="Example home icon" fontIcon="home"></mat-icon> Dashboard</button></mat-list-item>

            <mat-list-item role="listitem"><button mat-button
                    [routerLink]="['park-list']"><mat-icon aria-hidden="false"
                    aria-label="Example home icon" fontIcon="explore"></mat-icon>Search</button></mat-list-item>

        </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Menu bar-->
        <mat-toolbar color="primary">
            <!-- button icon and switch for opening and closing side nav-->
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>

            <!--remainder of the menu bar-->
            <span>Park Tracker</span>
            <span class="example-spacer"></span>

            <!--Secondary menu buttons, currently no function-->
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>

        <!-- Displayed content underneath menu-->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>